html, body {
    height: 100%;
    width: 100%;
    font-family: 'Macondo', cursive;
}
#noNoNo {
    position:fixed;
    height: 100%;
    width: 100%;
    visibility: visible;
    z-index:3;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(58, 78, 58);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    position: absolute;
    left:0;
    right:0;
    text-align:center;
    z-index: 1;
}
#title {
    font-size: 40px;
    text-shadow:1px 1px rgb(166, 184, 115);
}
#returnMenu {
    background-color: rgba(255, 235, 205, 0.6);
    border-radius: 5px;
    border: none;
    font-family: 'Macondo', cursive;
    visibility: hidden;

}
main {
    position: relative;
}

#how-to {
    position:absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 1;
    background-color: rgba(255, 235, 205, 0.6);
    border-radius: 5px;
    width: 300px;
    height: 250px;
    padding: 16px;
    visibility: visible;
    z-index: 4;

}

#questStart {
    display: block;
    background-color: rgb(175, 147, 58);
    color: black;
    font-family: 'Macondo', cursive;
    border-radius: 10px;
    height:50px;
    width: 45%;
    border: none;
    margin: auto;
}
#directions {}

.game {
     /* calc() was shown to me by a friend, I still need to una */
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    position: relative;
    overflow: scroll;
    max-width: 1920px;
    margin: 16px;
    border: solid black
}
/* centering here is weird */
#compendiumData {
    position:absolute;
    overflow: scroll;
    left: 15%;
    bottom: 10px;
    background-color: rgba(255, 235, 205, 0.6);
    border-radius: 5px;
    width:70%;
    height: 25%;
    visibility: hidden;
    z-index: 3;
    
    
}
#yahaha {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}
#closeCompendium {
    text-align: center;
    margin: 0;
}
#closeButton {
    background-color: rgb(175, 147, 58);
    color: black;
    font-family: 'Macondo', cursive;
    border-radius: 10px;
    border: none;

}

.dataHead {
    margin:0;
    margin-left: 1em;
    opacity:0.75;
}
#thingImg {
    height:120px;
    border-radius: 5px;
    border: 1px solid white;
    
    
}
#appendImg {
    float:right;
    width: 25%
}
.korok {
    position: absolute;
    width: 100px;
    height: 150px;
    top: 0;
    z-index: 2;
    
}
/* rock */
#korok1 {
    background-image: url('https://cdn.staticneo.com/w/zelda/Hollo.png');
    background-size:175px;
    background-repeat: no-repeat;
    background-position: center;
    top: 715px;
    left:800px;
    visibility: hidden;
}
/* apple */
#korok2 {
    background-image:url('https://cdn.staticneo.com/w/zelda/Aldo.png');
    background-size: 95px;
    background-repeat: no-repeat;
    background-position: center;
    top:850px;
    left:1480px;
    visibility: hidden;
}
/* flowers */
#korok3 {
    background-image: url('https://cdn.staticneo.com/w/zelda/Irch.png');
    background-size:px;
    background-repeat: no-repeat;
    background-position: center;
    top: 700px;
    left: 200px;
    visibility: hidden;
}
/* balloon */
#korok4 {
    background-image: url('https://cdn.staticneo.com/w/zelda/Olivio.png');
    background-size:100px;
    background-repeat: no-repeat;
    background-position: center;
    top: 490px;
    left:1480px;
    visibility: hidden;
}
/* #korok5 {
    background-image: url('https://cdn.staticneo.com/w/zelda/Rown.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    top:;
    left:;
    visibility: visible;
} */



/* Korok 1 center */
.rock {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    z-index: 1;

}
#rock1 {
    background-image: url('../images/png-procreate/rock.png');
    background-size:400px;
    background-repeat: no-repeat;
    background-position: center;
    top: 710px;
    left:760px;
    visibility: visible;
    
}
#rock2 {
    background-image: url('../images/png-procreate/rock.png');
    background-size:400px;
    background-repeat: no-repeat;
    background-position: center;
    top: 735px;
    left:690px;
    visibility: hidden;
    
}
/* Korok 2 bottom right*/
#apple {
    position: absolute;
    width: 60px;
    height: 50px;
    background-image: url('../images/png-procreate/apple.png');
    background-size:150px;
    background-repeat: no-repeat;
    background-position: center;
    top: 980px;
    left: 1060px;
    visibility: visible;
    z-index:2;
}
#statue {
    position: absolute;
    width: 430px;
    height: 550px;
    background-image: url('../images/png-procreate/statue.png');
    background-size:500px;
    background-repeat: no-repeat;
    overflow: auto;
    background-position: center;
    top: 650px;
    left: 1470px;
    visibility: visible;
    z-index:1;
}
/* Korok 3 left */
.flowers {
    position: absolute;
    width: 75px;
    height: 100px;
    top: 0;

}
#flower1 {
    background-image: url('../images/png-procreate/flower.png');
    background-size:100px;
    background-repeat: no-repeat;
    background-position: center;
    top: 600px;
    left: 530px;
    visibility: visible;
}
#flower2 {
    background-image: url('../images/png-procreate/flower.png');
    background-size:130px;
    background-repeat: no-repeat;
    background-position: center;
    top: 710px;
    left: 590px;
    visibility: hidden;
}
#flower3 {
    background-image: url('../images/png-procreate/flower.png');
    background-size:170px;
    background-repeat: no-repeat;
    background-position: center;
    top: 750px;
    left: 420px;
    width:150px;
    height:220px;
    visibility: hidden;
}
#flower4 {
    background-image: url('../images/png-procreate/flower.png');
    background-size:200px;
    background-repeat: no-repeat;
    background-position: center;
    top: 780px;
    left: 140px;
    width:150 px;
    height:150px;
    overflow-x: visible;
    visibility: hidden;
}
/* Korok 4 mid right*/
.pinwheel {
    position: absolute;
    width: 75px;
    height: 100px;
    top: 0;

}
#pinwheel1 {
    background-image: url('../images/png-procreate/pinwheel.png');
    background-size:110px;
    background-repeat: no-repeat;
    background-position: center;
    top: 580px;
    left: 1570px;
    visibility: visible;
}
.balloons {
    position: absolute;
    width: 75px;
    height: 100px;
    top: 0; 
    visibility: hidden; 
}
#balloon1 {
    background-image: url('../images/png-procreate/balloon.png');
    background-size:150px;
    width:130px;
    background-repeat: no-repeat;
    background-position: center;
    top: 350px;
    left: 1700px;
  
    /* visibility: hidden; */
}
#balloon2 {
    background-image: url('../images/png-procreate/balloon.png');
    background-size:150px;
    width:130px;
    background-repeat: no-repeat;
    background-position: center;
    top: 300px;
    left: 1570px;
    /* visibility: hidden; */
}
#balloon3 {
    background-image: url('../images/png-procreate/balloon.png');
    background-size:150px;
    width:130px;
    background-repeat: no-repeat;
    background-position: center;
    top: 350px;
    left: 1440px;
    /* visibility: hidden; */
}
cd
/* @media screen and (min-width: 768px){
    #compediumData {
        position: absolute;
        overflow: scroll;
        left: 0;
        bottom: 10px;
        background-color: rgba(255, 235, 205, 0.6);
        border-radius: 5px;
        width:70%;
        height: 25%;
        visibility: hidden;
        z-index: 3;
    }
} */